.DS_Store

.scannerwork
*cloc*report*.json
*sbom*report*.json
*vulnerabilities*report*.json
*report*json.zip
.version

*.code-workspace
!project.code-workspace

# Please, add your custom content below!
/.idea/
.vscode/
schemas/home-test-consumer-api.yaml

*.jar
.local/
validation-results/
examples/openAPI_examples/

node_modules/
# Ignore .yml files, keep only .yaml files for consistency
.yml
