---
openapi: 3.0.3
info:
  title: Home Test Supplier API
  description: |
    ## Overview

    Use this API to send completed home test results and order status updates to the HomeTest service.

    HomeTest is the API producer and test kit suppliers are the API consumers. Suppliers use this API after they have received an order through the companion supplier-hosted API and need to tell HomeTest what happened next.

    You can:

    * submit a completed test result
    * update the status of a test order

    You cannot use this API to:

    * create a new test order
    * check whether a person is eligible for a test
    * retrieve patient demographic details
    * retrieve historical test results

    Payloads use [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#fhir) resources encoded as `application/fhir+json`.

    ## Who can use this API

    This API is intended for approved home test suppliers integrating with the HomeTest service.

    Suppliers must agree their use case and onboarding route with the HomeTest team before using this API.

    ## Related APIs

    The companion supplier-hosted API is used by HomeTest to send orders to suppliers and check order eligibility. This API is the reverse direction: suppliers use it to send results and order status updates back to HomeTest.

    ## API status and roadmap

    This API is being prepared for private beta on the NHS API Platform.

    A sandbox instance is available for testing purposes with canned responses.

    For questions about the roadmap, use the [NHS Digital Developer Community](https://developer.community.nhs.uk/) or contact the HomeTest team.

    ## Service level

    This API is a bronze service for private beta.

    For more details, see [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels).

    ## Technology

    This API is a RESTful API using OpenAPI 3.0.3.

    Request and response bodies use FHIR JSON resources. The FHIR resources are constrained by this API specification and the HomeTest integration guidance.

    ## Network access

    The API is expected to be available over the internet through the NHS API Platform when deployed.

    ## Security and authorisation

    This API is application-restricted: we authenticate the calling supplier
    application, but not an end user.

    Suppliers use this API unattended, with no end user present, to submit test
    results and test-order status updates to HomeTest.

    To use this access mode, follow
    [Application-restricted RESTful API - signed JWT authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication).

    ## Errors

    This API uses standard HTTP status codes:

    * `200` to `299` means the request succeeded
    * `400` to `499` means the request failed because of a client error
    * `500` to `599` means the request failed because of a server error

    Error responses use FHIR OperationOutcome resources where possible.

    ## Open source

    The API contract is maintained in the publicly accessible [HomeTest supplier integration framework repository](https://github.com/NHSDigital/hometest-supplier-integration-framework).

    ## Environments and testing

    | Environment | Base URL |
    | --- | --- |
    | Sandbox | `https://sandbox.api.service.nhs.uk/hometest-api` |
    | Integration | Not yet available |
    | Production | Not yet available |

    ### Sandbox environment

    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):

    * is for early developer testing
    * is open access, so does not allow suppliers to test authorisation
    * returns canned example responses rather than processing live data.

    "Try this API" is enabled for this sandbox specification.

    ### Integration and production environments

    Integration and production environments are not yet available. Integration
    will support formal supplier testing with authorisation; production will
    process live service requests.

    ## Onboarding

    Contact the HomeTest team to agree onboarding, supplier responsibilities and access to test environments.
  version: 1.1.9
  contact:
    name: NHS England - Digital Prevention Services Portfolio - Home Test Team
    email: england.hometest@nhs.net

x-spec-publication:
  try-this-api:
    disabled: false

servers:
  - url: https://sandbox.api.service.nhs.uk/hometest-api
    description: Sandbox environment

paths:
  /result:
    post:
      summary: Submit test results
      operationId: postTestResultsToHomeTest
      description: |
        ## Overview

        Submit a completed home test result to HomeTest.

        Use this endpoint when a supplier has processed a test and needs to send the result back to HomeTest.

        The request body is a FHIR Bundle containing:

        * a DiagnosticReport
        * an Observation
        * a Communication

        The `X-Correlation-ID` header is required for request tracking and idempotency.

        ## Business rules

        The bundle must describe the result for an existing HomeTest order.

        The DiagnosticReport groups the result resources. The Observation carries the coded test result. The Communication records whether clinical contact has been completed, is on hold, or is not needed.

        ## Responses

        A successful request returns `201` with the accepted FHIR Bundle.

        An invalid request returns `400` with a FHIR OperationOutcome.

        An unauthorised request returns `401` with a FHIR OperationOutcome.

        ## Sandbox test scenarios

        A sandbox environment is available for testing purposes. The "Try this API" feature is disabled for this documentation-only publication.
      tags:
        - Result Service
      parameters:
        - name: X-Correlation-ID
          in: header
          required: true
          description: Unique identifier for request tracking and idempotency
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: "#/components/schemas/FHIRBundleResults"
            examples:
              FHIRBundleResultsExample:
                $ref: "#/components/examples/FHIRBundleResultsExample"
              FHIRBundleResultsPSAExample:
                $ref: "#/components/examples/FHIRBundleResultsPSAExample"
      responses:
        "201":
          description: Results posted successfully
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/FHIRBundleResults"
              examples:
                FHIRBundleResultsExample:
                  $ref: "#/components/examples/FHIRBundleResultsExample"
                FHIRBundleResultsPSAExample:
                  $ref: "#/components/examples/FHIRBundleResultsPSAExample"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /test-order/status:
    post:
      summary: Update order status
      operationId: updateOrderStatus
      description: |
        ## Overview

        Update the status of an existing HomeTest order.

        Use this endpoint when a supplier needs to tell HomeTest that an order has moved to a new supplier-side state.

        The request body is a FHIR Task resource. The FHIR Task.status value gives the standard FHIR task state. The businessStatus.text value gives the HomeTest-specific order state.

        Expected HomeTest business status values are:

        * `dispatched`
        * `received-at-lab`
        * `test-processed`

        The `X-Correlation-ID` header is required for request tracking and idempotency.

        ## Business rules

        The status update must refer to an existing HomeTest order.

        Use `businessStatus.text` for the HomeTest-specific supplier state. Use `Task.status` for the standard FHIR task state.

        ## Responses

        A successful request returns `200` with the accepted FHIR Task.

        An invalid request returns `400` with a FHIR OperationOutcome.

        A request for an unknown order returns `404` with a FHIR OperationOutcome.

        ## Sandbox test scenarios

        A sandbox environment is available for testing purposes. The "Try this API" feature is disabled for this documentation-only publication.
      tags:
        - Order Management
      parameters:
        - name: X-Correlation-ID
          in: header
          required: true
          description: Unique identifier for request tracking and idempotency
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: "#/components/schemas/FHIRTask"
            examples:
              FHIRTaskExample:
                $ref: "#/components/examples/FHIRTaskExample"
      responses:
        "200":
          description: Status updated successfully
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/FHIRTask"
              examples:
                FHIRTaskExample:
                  $ref: "#/components/examples/FHIRTaskExample"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  schemas:
    FHIRBundleResults:
      type: object
      description: FHIR Bundle resource for sending test results, containing DiagnosticReport, Observation and Communication resources
      required:
        - resourceType
        - id
        - type
        - entry
      properties:
        resourceType:
          type: string
          enum: [Bundle]
          example: "Bundle"
        id:
          type: string
          description: Logical id of this artifact
          example: "42631cc0-6ca7-4460-a9d2-88b5c95f9f89"
        type:
          type: string
          enum: [collection]
          example: "collection"
        entry:
          type: array
          description: The array should contain three FHIR resources - DiagnosticReport, Observation, and Communication
          items:
            type: object
            required:
              - fullUrl
              - resource
            properties:
              fullUrl:
                type: string
                description: Absolute URL for the resource entry inside the Bundle (use urn:uuid followed by the id)
                example: "urn:uuid:36716694-601b-4ad2-99e3-befb78d846ef"
              resource:
                oneOf:
                  - $ref: "#/components/schemas/FHIRDiagnosticReport"
                  - $ref: "#/components/schemas/FHIRObservation"
                  - $ref: "#/components/schemas/FHIRCommunication"
                discriminator:
                  propertyName: resourceType
                  mapping:
                    DiagnosticReport: "#/components/schemas/FHIRDiagnosticReport"
                    Observation: "#/components/schemas/FHIRObservation"
                    Communication: "#/components/schemas/FHIRCommunication"
          minItems: 3
          maxItems: 3
    FHIRDiagnosticReport:
      type: object
      description: FHIR DiagnosticReport resource for grouping observations
      required:
        - resourceType
        - id
        - basedOn
        - status
        - category
        - code
        - subject
        - issued
        - performer
        - result
      properties:
        resourceType:
          type: string
          enum: [DiagnosticReport]
          example: "DiagnosticReport"
        id:
          type: string
          description: Logical id of this artifact
          example: "36716694-601b-4ad2-99e3-befb78d846ef"
        meta:
          type: object
          description: >-
            Metadata about this resource. SHOULD include the UK Core profile URL to declare
            conformance, enabling profile validation by receiving systems.
          properties:
            profile:
              type: array
              description: UK Core profile URL(s) this resource conforms to
              minItems: 1
              items:
                type: string
              example: ["https://fhir.hl7.org.uk/StructureDefinition/UKCore-DiagnosticReport"]
        basedOn:
          type: array
          description: Reference to the ServiceRequest this DiagnosticReport fulfills
          items:
            allOf:
              - $ref: "#/components/schemas/FHIRReference"
              - example:
                  reference: "ServiceRequest/550e8400-e29b-41d4-a716-446655440000"
        status:
          type: string
          description: Status of the diagnostic report result
          enum: [final]
          example: "final"
        category:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/FHIRDiagnosticCoding"
          description: Category of the diagnostic report (should be LAB/Laboratory for test results)
          example:
            - coding:
                - system: "http://terminology.hl7.org/CodeSystem/v2-0074"
                  code: "LAB"
                  display: "Laboratory"
              text: "Laboratory"
        code:
          allOf:
            - $ref: "#/components/schemas/FHIRCodeableConcept"
            - description: Always use SNOMED CT code 721981007 for "Diagnostic studies report"
              example:
                coding:
                  - system: "http://snomed.info/sct"
                    code: "721981007"
                    display: "Diagnostic studies report"
                text: "Diagnostic studies report"
        subject:
          allOf:
            - $ref: "#/components/schemas/FHIRReference"
            - description: Patient reference for matching with service request - PII removed for results
              example:
                reference: "Patient/123e4567-e89b-12d3-a456-426614174000"
        effectiveDateTime:
          type: string
          format: date-time
          description: Date/Time the observation was made (when the test was performed)
          example: "2025-11-04T15:45:00Z"
        issued:
          type: string
          format: date-time
          description: Date/Time this diagnostic report was made available
          example: "2025-11-04T16:00:00Z"
        performer:
          type: array
          description: Organisation responsible for the diagnostic report
          items:
            $ref: "#/components/schemas/FHIRReference"
        result:
          type: array
          description: References to the observations that are part of this report
          items:
            allOf:
              - $ref: "#/components/schemas/FHIRReference"
              - example:
                  reference: "urn:uuid:550e8400-e29b-41d4"
    FHIRObservation:
      type: object
      description: FHIR Observation resource for test results
      required:
        - resourceType
        - id
        - basedOn
        - status
        - category
        - code
        - subject
        - effectiveDateTime
        - issued
      properties:
        resourceType:
          type: string
          enum: [Observation]
          example: "Observation"
        id:
          type: string
          description: Logical id of this artifact
          example: "550e8400-e29b-41d4-a716-446655440001"
        meta:
          type: object
          description: >-
            Metadata about this resource. SHOULD include the UK Core profile URL to declare
            conformance, enabling profile validation by receiving systems.
          properties:
            profile:
              type: array
              description: UK Core profile URL(s) this resource conforms to
              minItems: 1
              items:
                type: string
              example: ["https://fhir.hl7.org.uk/StructureDefinition/UKCore-Observation"]
        basedOn:
          type: array
          description: Reference to the ServiceRequest this observation fulfills
          items:
            allOf:
              - $ref: '#/components/schemas/FHIRReference'
              - example:
                  reference: "ServiceRequest/550e8400-e29b-41d4-a716-446655440000"
        status:
          type: string
          description: Status of the observation result
          enum: [final]
          example: "final"
        category:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/FHIRObservationCoding"
          description: Category of the observation (should be laboratory/Laboratory for observation category)
          example:
            - coding:
                - system: "http://terminology.hl7.org/CodeSystem/observation-category"
                  code: "laboratory"
                  display: "Laboratory"
        code:
          allOf:
            - $ref: "#/components/schemas/FHIRCodeableConcept"
            - description: The SNOMED-CT 'Observable Entity' code for the specific test performed (e.g., HIV antigen test)
              example:
                coding:
                  - extension:
                      - url: "http://hl7.org/fhir/StructureDefinition/valueset-reference"
                        valueUri: "https://fhir.hl7.org.uk/ValueSet/UKCore-PathologyBoundedCodeListObservables"
                    system: "http://snomed.info/sct"
                    code: "31676001"
                    display: "HIV antigen test"
        subject:
          allOf:
            - $ref: "#/components/schemas/FHIRReference"
            - description: Patient reference for matching with service request - PII removed for results
              example:
                reference: "Patient/123e4567-e89b-12d3-a456-426614174000"
        effectiveDateTime:
          type: string
          format: date-time
          description: Date/Time the observation was made (when the test was performed)
          example: "2025-11-04T15:45:00Z"
        issued:
          type: string
          format: date-time
          description: Date/Time this Observation was made available
          example: "2025-11-04T16:00:00Z"
        performer:
          type: array
          description: The Organisation responsible for the Observation
          items:
            $ref: "#/components/schemas/FHIRReference"
        valueCodeableConcept:
          allOf:
            - $ref: '#/components/schemas/FHIRCodeableConcept'
            - description: >-
                Actual result as a coded concept (for qualitative results, e.g. HIV detected/not detected).
                Exactly one of valueCodeableConcept or valueQuantity must be present —
                see docs/test-types/ for which applies to each test type.
              example:
                coding:
                  - system: "http://snomed.info/sct"
                    code: "165815009"
                    display: "Human immunodeficiency virus not detected"
        valueQuantity:
          allOf:
            - $ref: '#/components/schemas/FHIRQuantity'
            - description: >-
                Actual result as a measured quantity (for quantitative results, e.g. PSA level in ng/mL).
                Exactly one of valueQuantity or valueCodeableConcept must be present —
                see docs/test-types/ for which applies to each test type.
              example:
                value: 4.2
                unit: "ng/mL"
                system: "http://unitsofmeasure.org"
                code: "ng/mL"
        referenceRange:
          type: array
          description: >-
            Guide for interpreting the result value. Must be present when valueQuantity is used.
            Age-adjusted ranges should be expressed as separate entries with the text or appliesTo
            fields indicating the applicable population.
          items:
            type: object
            properties:
              low:
                allOf:
                  - $ref: '#/components/schemas/FHIRQuantity'
                  - description: Lower bound of the reference range (inclusive)
                    example:
                      value: 0
                      unit: "ng/mL"
                      system: "http://unitsofmeasure.org"
                      code: "ng/mL"
              high:
                allOf:
                  - $ref: '#/components/schemas/FHIRQuantity'
                  - description: Upper bound of the reference range (inclusive)
                    example:
                      value: 4.0
                      unit: "ng/mL"
                      system: "http://unitsofmeasure.org"
                      code: "ng/mL"
              type:
                allOf:
                  - $ref: '#/components/schemas/FHIRCodeableConcept'
                  - description: Reference range qualifier (normal, therapeutic, etc.)
                    example:
                      coding:
                        - system: "http://terminology.hl7.org/CodeSystem/referencerange-meaning"
                          code: "normal"
                          display: "Normal Range"
                      text: "Normal Range"
              appliesTo:
                type: array
                description: Population this range applies to (e.g. age group, sex)
                items:
                  $ref: '#/components/schemas/FHIRCodeableConcept'
              text:
                type: string
                description: Free text description of the reference range
                example: "Normal range for adult males (age-adjusted ranges may apply)"
        interpretation:
          type: array
          description: >-
            Categorical assessment of the observation value (e.g. high, low, normal).
            Use the v3 ObservationInterpretation code system for coded interpretations.
          items:
            $ref: '#/components/schemas/FHIRCodeableConcept'
    FHIRCommunication:
      type: object
      description: FHIR Communication resource for sending messages to patients
      required:
        - resourceType
        - id
        - status
        - reasonReference
      properties:
        resourceType:
          type: string
          enum: [Communication]
          example: "Communication"
        id:
          type: string
          description: Logical id of this artifact
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        status:
          type: string
          description: Status of the communication event. For results, 'completed' should be used for when clinical contact has been made. When clinical contact has not been made, 'on-hold' should be used until contact is made. If contact is not required, such as for non-reactive results, then 'not-done' should be used.
          enum:
            [
              completed,
              on-hold,
              not-done,
            ]
          example: "not-done"
        reasonReference:
          type: array
          description: Reference to the Observation this communication is about
          items:
            allOf:
              - $ref: "#/components/schemas/FHIRReference"
              - example:
                  reference: "urn:uuid:550e8400-e29b-41d4-a716-446655440001"
    FHIRTask:
      type: object
      description: FHIR Task resource for tracking order status
      required:
        - resourceType
        - status
        - intent
        - basedOn
        - identifier
        - for
        - lastModified
      properties:
        resourceType:
          type: string
          enum: [Task]
          example: "Task"
        id:
          type: string
          description: Logical id of this artifact
          example: "task-550e8400-e29b-41d4-a716-446655440000"
        meta:
          type: object
          description: >-
            Metadata about this resource. SHOULD include the UK Core profile URL to declare
            conformance, enabling profile validation by receiving systems.
          properties:
            profile:
              type: array
              description: UK Core profile URL(s) this resource conforms to
              minItems: 1
              items:
                type: string
              example: ["https://fhir.hl7.org.uk/StructureDefinition/UKCore-Task"]
        identifier:
          type: array
          description: Task Instance Identifier
          items:
            $ref: "#/components/schemas/FHIRIdentifier"
        basedOn:
          type: array
          description: Reference to the ServiceRequest this task fulfills
          items:
            allOf:
              - $ref: "#/components/schemas/FHIRReference"
              - example:
                  reference: "ServiceRequest/550e8400-e29b-41d4-a716-446655440000"
        status:
          type: string
          description: Current status of the task - FHIR standard values (use businessStatus for domain-specific states)
          enum:
            [
              accepted,
              in-progress,
            ]
          example: "in-progress"
        businessStatus:
          allOf:
            - $ref: "#/components/schemas/FHIRBusinessStatusCoding"
            - description: Domain-specific business status, expected to be one of "dispatched","received-at-lab", or "test-processed" for HomeTest.
              example:
                text: "dispatched"
        intent:
          type: string
          description: Indicates the "level" of actionability associated with the Task
          enum: [order]
          example: "order"
        statusReason:
          allOf:
            - $ref: "#/components/schemas/FHIRCodeableConcept"
            - description: Reason for current status
              example:
                text: "Test kit dispatched to patient"
        for:
          allOf:
            - $ref: "#/components/schemas/FHIRReference"
            - description: Beneficiary of the Task
              example:
                reference: "Patient/123e4567-e89b-12d3-a456-426614174000"
        authoredOn:
          type: string
          format: date-time
          description: Task Creation Date
          example: "2025-11-04T10:30:00Z"
        lastModified:
          type: string
          format: date-time
          description: Task Last Modified Date
          example: "2025-11-04T10:35:00Z"
        owner:
          allOf:
            - $ref: "#/components/schemas/FHIRReference"
            - description: Responsible individual for the task
              example:
                reference: "Organization/SUP001"
    FHIROperationOutcome:
      type: object
      description: FHIR OperationOutcome resource for reporting errors and warnings
      required:
        - resourceType
        - issue
      properties:
        resourceType:
          type: string
          enum: [OperationOutcome]
          example: "OperationOutcome"
        id:
          type: string
          description: Logical id of this artifact
          example: "operation-outcome-001"
        issue:
          type: array
          description: Issues with the request or response
          minItems: 1
          items:
            type: object
            required:
              - severity
              - code
            properties:
              severity:
                type: string
                description: Severity of the issue
                enum:
                  [
                    fatal,
                    error,
                    warning,
                    information,
                  ]
                example: "error"
              code:
                type: string
                description: Error or warning code
                enum:
                  [
                    invalid,
                    structure,
                    required,
                    value,
                    invariant,
                    security,
                    login,
                    unknown,
                    expired,
                    forbidden,
                    suppressed,
                    processing,
                    not-supported,
                    duplicate,
                    multiple-matches,
                    not-found,
                    deleted,
                    too-long,
                    code-invalid,
                    extension,
                    too-costly,
                    business-rule,
                    conflict,
                    transient,
                    lock-error,
                    no-store,
                    exception,
                    timeout,
                    incomplete,
                    throttled,
                    informational,
                  ]
                example: "invalid"
              details:
                allOf:
                  - $ref: "#/components/schemas/FHIRCodeableConcept"
                  - description: Additional details about the error
                    example:
                      text: "Invalid parameter provided"
              diagnostics:
                type: string
                description: Additional diagnostic information
                example: "The request contains invalid data that cannot be processed"
              location:
                type: array
                description: Xpath or JSONPath of element with error
                items:
                  type: string
                example: ["Observation.status"]
              expression:
                type: array
                description: FHIRPath of element with error
                items:
                  type: string
                example: ["Observation.status"]
    FHIRReference:
      type: object
      description: A reference from one resource to another (FHIR Reference datatype)
      required:
        - reference
      properties:
        reference:
          type: string
          description: Literal reference, Relative, internal or absolute URL
          example: "Organization/SUP001"
        type:
          type: string
          description: Type the reference refers to (e.g., "Organization")
          example: "Organization"
        display:
          type: string
          description: Text alternative for the resource
          example: "Supplier Organization Name"
    FHIRCodeableConcept:
      type: object
      description: A CodeableConcept represents a value that is usually supplied by providing a reference to one or more terminologies or ontologies (FHIR CodeableConcept datatype)
      properties:
        coding:
          type: array
          description: Code defined by a terminology system
          items:
            $ref: "#/components/schemas/FHIRCoding"
        text:
          type: string
          description: Plain text representation of the concept
          example: "HIV antigen test"
    FHIRCoding:
      type: object
      description: A Coding is a representation of a defined concept using a symbol from a defined code system (FHIR Coding datatype)
      properties:
        extension:
          type: array
          description: Optional extensions for the coding (e.g., to indicate which value set the code is from)
          items:
            type: object
            properties:
              url:
                type: string
                description: URL of the extension
                example: "http://hl7.org/fhir/StructureDefinition/valueset-reference"
              valueUri:
                type: string
                description: URI of the value set this code is from
                example: "https://fhir.hl7.org.uk/ValueSet/UKCore-PathologyBoundedCodeListObservables"
        system:
          type: string
          description: Identity of the terminology system
          example: "http://snomed.info/sct"
        code:
          type: string
          description: Symbol in syntax defined by the system
          example: "31676001"
        display:
          type: string
          description: Representation defined by the system
          example: "HIV antigen test"
    FHIRQuantity:
      type: object
      description: A measured or measurable amount (FHIR Quantity datatype)
      properties:
        value:
          type: number
          description: Numerical value
          example: 4.2
        comparator:
          type: string
          description: How to understand the value — used when the value is a bound (e.g. '<4.0')
          enum: ["<", "<=", ">=", ">"]
          example: "<"
        unit:
          type: string
          description: Unit representation (human-readable)
          example: "ng/mL"
        system:
          type: string
          description: System that defines coded unit form — use UCUM (http://unitsofmeasure.org)
          example: "http://unitsofmeasure.org"
        code:
          type: string
          description: Coded form of the unit (UCUM code)
          example: "ng/mL"
    FHIRIdentifier:
      type: object
      description: An identifier intended for computation (FHIR Identifier datatype)
      properties:
        system:
          type: string
          description: The namespace for the identifier value
          example: "https://fhir.hometest.nhs.uk/Id/order-uid"
        value:
          type: string
          description: The value that is unique within the system
          example: "550e8400-e29b-41d4-a716-446655440000"
        use:
          type: string
          description: The purpose of this identifier
          enum:
            [
              usual,
              official,
              temp,
              secondary,
              old,
            ]
          example: "official"
    FHIRBusinessStatusCoding:
      type: object
      description: A specific example of a CodeableConcept for status updates, using the businessStatus field of the FHIRTask
      required:
        - text
      properties:
        coding:
          type: array
          description: Code defined by a terminology system
          items:
            $ref: '#/components/schemas/FHIRCoding'
        text:
          $ref: '#/components/schemas/FHIRBusinessStatusCodingText'
          description: Business status category text.
          example: dispatched
    FHIRBusinessStatusCodingText:
      type: string
      description: Business status values.
      enum:
        [
          order-accepted,
          dispatched,
          received-at-lab,
          test-processed,
        ]
    FHIRDiagnosticCoding:
      type: object
      description: A specific example of a CodeableConcept for DiagnosticReport category.
      required:
        - text
      properties:
        coding:
          type: array
          description: Code defined by a terminology system
          items:
            $ref: '#/components/schemas/FHIRCoding'
        text:
          $ref: '#/components/schemas/FHIRDiagnosticCodingText'
          description: Diagnostic report status text.
      example:
        coding:
          - system: "http://terminology.hl7.org/CodeSystem/v2-0074"
            code: "LAB"
            display: "Laboratory"
        text: Laboratory
    FHIRDiagnosticCodingText:
      type: string
      description: Diagnostic report category status values.
      enum: [Laboratory]
    FHIRObservationCoding:
      type: object
      description: A specific example of a CodeableConcept for Observation category.
      required:
        - text
      properties:
        coding:
          type: array
          description: Code defined by a terminology system
          items:
            $ref: '#/components/schemas/FHIRCoding'
        text:
          $ref: '#/components/schemas/FHIRObservationCodingText'
          description: Observation category status values
      example:
        coding:
          - system: "http://terminology.hl7.org/CodeSystem/observation-category"
            code: "laboratory"
            display: "Laboratory"
        text: Laboratory
    FHIRObservationCodingText:
      type: string
      description: Observation category status values.
      enum: [Laboratory]
  examples:
    FHIRBundleResultsExample:
      summary: Example FHIR Bundle for test results submission
      value:
        resourceType: "Bundle"
        id: "36716694-601b-4ad2-99e3-befb78d846ef"
        type: "collection"
        entry:
          - fullUrl: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            resource:
              resourceType: "DiagnosticReport"
              id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
              basedOn:
                - reference: "ServiceRequest/550e8400-e29b-41d4-a716-446655440000"
              status: "final"
              category:
                - coding:
                    - system: "http://terminology.hl7.org/CodeSystem/v2-0074"
                      code: "LAB"
                      display: "Laboratory"
                  text: "Laboratory"
              code:
                coding:
                  - system: "http://snomed.info/sct"
                    code: "721981007"
                    display: "Diagnostic studies report"
                text: "Diagnostic studies report"
              subject:
                reference: "Patient/123e4567-e89b-12d3-a456-426614174000"
              effectiveDateTime: "2025-11-04T15:45:00Z"
              issued: "2025-11-04T16:00:00Z"
              performer:
                - reference: "Organization/SUPP001"
                  display: "Test Supplier Ltd"
              result:
                - reference: "urn:uuid:550e8400-e29b-41d4-a716-446655440001"
          - fullUrl: "urn:uuid:550e8400-e29b-41d4-a716-446655440001"
            resource:
              resourceType: "Observation"
              id: "550e8400-e29b-41d4-a716-446655440001"
              basedOn:
                - reference: "ServiceRequest/550e8400-e29b-41d4-a716-446655440000"
              status: "final"
              category:
                - coding:
                    - system: "http://terminology.hl7.org/CodeSystem/observation-category"
                      code: "laboratory"
                      display: "Laboratory"
                  text: "Laboratory"
              code:
                coding:
                  - extension:
                      - url: "http://hl7.org/fhir/StructureDefinition/valueset-reference"
                        valueUri: "https://fhir.hl7.org.uk/ValueSet/UKCore-PathologyBoundedCodeListObservables"
                    system: "http://snomed.info/sct"
                    code: "31676001"
                    display: "HIV antigen test"
              subject:
                reference: "Patient/123e4567-e89b-12d3-a456-426614174000"
              effectiveDateTime: "2025-11-04T15:45:00Z"
              issued: "2025-11-04T15:45:00Z"
              performer:
                - reference: "Organization/SUPP001"
                  display: "Test Supplier Ltd"
              valueCodeableConcept:
                coding:
                  - system: "http://snomed.info/sct"
                    code: "165815009"
                    display: "Human immunodeficiency virus not detected"
          - fullUrl: "urn:uuid:f47ac10b-58cc-4372-a567-0e02b2c3d479"
            resource:
              resourceType: "Communication"
              id: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
              status: "not-done"
              reasonReference:
                - reference: "urn:uuid:550e8400-e29b-41d4-a716-446655440001"
    FHIRBundleResultsPSAExample:
      summary: Example FHIR Bundle for PSA test results submission (valueQuantity with reference range)
      value:
        resourceType: "Bundle"
        id: "72831cc0-7ca8-4571-b0e3-99c6d06a0ace"
        type: "collection"
        entry:
          - fullUrl: "urn:uuid:b2c3d4e5-f6a7-4901-bcde-f12345678901"
            resource:
              resourceType: "DiagnosticReport"
              id: "b2c3d4e5-f6a7-4901-bcde-f12345678901"
              basedOn:
                - reference: "ServiceRequest/660f9511-f3ac-42e5-b827-557766551111"
              status: "final"
              category:
                - coding:
                    - system: "http://terminology.hl7.org/CodeSystem/v2-0074"
                      code: "LAB"
                      display: "Laboratory"
                  text: "Laboratory"
              code:
                coding:
                  - system: "http://snomed.info/sct"
                    code: "721981007"
                    display: "Diagnostic studies report"
                text: "Diagnostic studies report"
              subject:
                reference: "Patient/234f5678-f9a0-43e4-b567-537725285111"
              effectiveDateTime: "2026-07-21T10:30:00Z"
              issued: "2026-07-21T11:00:00Z"
              performer:
                - reference: "Organization/SUPP002"
                  display: "PSA Test Lab Ltd"
              result:
                - reference: "urn:uuid:660f9511-f3ac-42e5-b827-557766551112"
          - fullUrl: "urn:uuid:660f9511-f3ac-42e5-b827-557766551112"
            resource:
              resourceType: "Observation"
              id: "660f9511-f3ac-42e5-b827-557766551112"
              basedOn:
                - reference: "ServiceRequest/660f9511-f3ac-42e5-b827-557766551111"
              status: "final"
              category:
                - coding:
                    - system: "http://terminology.hl7.org/CodeSystem/observation-category"
                      code: "laboratory"
                      display: "Laboratory"
                  text: "Laboratory"
              code:
                coding:
                  - system: "http://snomed.info/sct"
                    code: "63476009"
                    display: "Measurement of prostate specific antigen"
                text: "Measurement of prostate specific antigen"
              subject:
                reference: "Patient/234f5678-f9a0-43e4-b567-537725285111"
              effectiveDateTime: "2026-07-21T10:30:00Z"
              issued: "2026-07-21T11:00:00Z"
              performer:
                - reference: "Organization/SUPP002"
                  display: "PSA Test Lab Ltd"
              valueQuantity:
                value: 4.2
                unit: "ng/mL"
                system: "http://unitsofmeasure.org"
                code: "ng/mL"
              interpretation:
                - coding:
                    - system: "http://terminology.hl7.org/CodeSystem/v3-ObservationInterpretation"
                      code: "H"
                      display: "High"
                  text: "Above reference range"
              referenceRange:
                - low:
                    value: 0
                    unit: "ng/mL"
                    system: "http://unitsofmeasure.org"
                    code: "ng/mL"
                  high:
                    value: 4.0
                    unit: "ng/mL"
                    system: "http://unitsofmeasure.org"
                    code: "ng/mL"
                  type:
                    coding:
                      - system: "http://terminology.hl7.org/CodeSystem/referencerange-meaning"
                        code: "normal"
                        display: "Normal Range"
                    text: "Normal Range"
                  text: "Normal range for adult males (age-adjusted ranges may apply)"
          - fullUrl: "urn:uuid:f58bd21c-69dd-4483-a678-668877662223"
            resource:
              resourceType: "Communication"
              id: "f58bd21c-69dd-4483-a678-668877662223"
              status: "on-hold"
              reasonReference:
                - reference: "urn:uuid:660f9511-f3ac-42e5-b827-557766551112"
    FHIRTaskExample:
      summary: Example FHIR Task for a 'dispatched' update, see examples folder for further examples.
      value:
        resourceType: "Task"
        id: "task-550e8400-e29b-41d4-a716-446655440000"
        identifier:
          - system: "https://fhir.hometest.nhs.uk/Id/order-uid"
            value: "550e8400-e29b-41d4-a716-446655440000"
        basedOn:
          - reference: "ServiceRequest/550e8400-e29b-41d4-a716-446655440000"
        status: "in-progress"
        businessStatus:
          text: "dispatched"
        intent: "order"
        for:
          reference: "Patient/123e4567-e89b-12d3-a456-426614174000"
        authoredOn: "2025-11-04T10:30:00Z"
        lastModified: "2025-11-04T10:35:00Z"
        owner:
          reference: "Organization/SUP001"
          display: "Test Supplier Ltd"
  responses:
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/fhir+json:
          schema:
            $ref: "#/components/schemas/FHIROperationOutcome"
          example:
            resourceType: "OperationOutcome"
            issue:
              - severity: "error"
                code: "invalid"
                details:
                  text: "Validation Error"
                diagnostics: "The request contains invalid data that cannot be processed"

    Unauthorized:
      description: Unauthorized - invalid or missing authentication
      content:
        application/fhir+json:
          schema:
            $ref: "#/components/schemas/FHIROperationOutcome"
          example:
            resourceType: "OperationOutcome"
            issue:
              - severity: "error"
                code: "login"
                details:
                  text: "Authentication Required"
                diagnostics: "Valid authentication credentials are required to access this resource"

    NotFound:
      description: Resource not found
      content:
        application/fhir+json:
          schema:
            $ref: "#/components/schemas/FHIROperationOutcome"
          example:
            resourceType: "OperationOutcome"
            issue:
              - severity: "error"
                code: "not-found"
                details:
                  text: "Resource Not Found"
                diagnostics: "The requested order could not be found"

  securitySchemes:
    app-level3:
      $ref: https://proxygen.prod.api.platform.nhs.uk/components/securitySchemes/app-level3

security:
  - app-level3: []

tags:
  - name: Order Management
    description: Endpoints for managing test orders, including eligibility checks
  - name: Result Service
    description: Endpoints for submitting and retrieving test results
